.app__header {
    align-items: center;
    background-color: #B3E5FC;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
}

.app__search {
    width: 50%;
}
